<nav class="navbar navbar-light" style="display: block; padding-right: 5%; padding-left: 5%; background-color: azure;">
    <!-- <h2><b><a class="navbar-brand" href="leads">Leads</a></b></h2> -->
      <h3><b> <a class="navbar-brand" href="leads">Leads <span class="sr-only">(current)</span></a>
       <a class="navbar-brand" href="data">Data</a></b></h3>
      <!-- <button class="btn btn-danger" type="button"  routerLink="/login" (click)="logout()" style="float:right;">Log Out</button> -->
  </nav>
  <div class="diaplaydata" style="padding-left: 5%; padding-right: 5%;">
<table class="table table-bordered table-hover">
    <thead>
       <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Gender</th>
          <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of users">
           <td>{{ data.name }}</td>
           <td>{{ data.email }}</td>
           <td>{{ data.gender }}</td>
           <td>{{ data.phone }}</td>
          </tr>
     </tbody>
  </table>
  </div>