<div class="page"><p><h2><b>WELCOME TO LEADS PAGE</b></h2></div>
<div class="leadspage">
   <div class="logout">
   <button class="btn btn-danger" type="button" style="width: 10%; justify-content: center; display:flex; float:right;" routerLink="/login" (click)="logout()">Log Out</button>
</div>
<br><br><br>
<div class="addlead" style="justify-content: center; display:flex;">
    <button class="btn btn-primary" type="button" style="width: 20%; justify-content: center; display:flex;" (click)="openDialog()">Add New Lead</button>
</div>
<h3 style="justify-content: center;">
    <label>Message:</label>&nbsp; {{myData?.Message}}<br>
    <label>Status:</label>&nbsp; {{myData?.Status}}<br>
    <label>Total Records:</label>&nbsp; {{myData?.data.TotalRecords}}
        <table class="table table-bordered table-hover">
            <thead>
               <tr>
                  <th>Name</th>
                  <th>Mobile Number</th>
                  <!-- <th>Action</th> -->
               </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of myData?.data?.Leads; let i = index">
                   <td>{{ data?.LeadName }}</td>
                   <td>{{ data?.MobileNo }}</td>
                   <!-- <td><button class="btn btn-warning" type="button" style="width: 15%; justify-content: center; display:flex;" (click)="deletedata()">Delete</button></td> -->
                </tr>
             </tbody>
          </table>
</h3>
</div>
